<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EL BUEN SABER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/menu">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mantenimientos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/cargarUsuario">Usuario</a>
          <a class="dropdown-item" href="/cargarLibro">Libro</a>
          <a class="dropdown-item" href="/cargarAutor">Autor</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="">Stock de libros</a>
          <a class="dropdown-item" href="">Precio de libros</a>
        </div>
      </li>
    </ul>
  </div>
  <a href="/salir" type="button" class="btn btn-light">Cerrar Sesion</a>
</nav>
	<div th:class="${clase}" role="alert" th:text="${mensaje}">This
		is a success alert—check it out!</div>
		<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
</div>
	<div class="container">
		<h1>Mantenimiento de Libros</h1>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" th:text="${boton}">
  Nuevo Libro
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form action="/Libros/guardar" method="post"	th:object="${libro}">

			<div class="form-group">
				<label for="inputCod">Código</label> <input type="text"
					th:field="*{cod_lib}" class="form-control" id="inputCod"
					placeholder="Código">
			</div>
			<div class="form-group">
				<label for="inputNom">Nombre</label> <input type="text"
					th:field="*{nom_lib}" class="form-control" id="inputNom"
					placeholder="Nombre">
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="inputStk">Stock</label> <input type="number"
						th:field="*{stock_lib}" class="form-control" id="inputStk"
						placeholder="0">
				</div>
				<div class="form-group col-md-4">
					<label for="inputPrec">Precio</label> <input type="number"
						step="0.01" th:field="*{prec_lib}" class="form-control"
						id="inputPrec" placeholder="0.00">
				</div>
				<div class="form-group col-md-4">
					<label for="inputPrec">Fecha de publicación</label> <input type="text"
						step="0.01" th:field="*{fch_public}" class="form-control"
						id="inputFech" placeholder="YYYY-MM-DD">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="inputCat">Categoría</label> <select id="inputCat"
						class="form-control" th:field="*{idcategoria}">
						<option value="-1">Seleccione...</option>
						<option th:each="c : ${lstCategorias}" th:value="${c.idcategoria}"
							th:text="${c.descripcion}"></option>
					</select>

				</div>
				<div class="form-group col-md-4">
					<label for="inputCat">Editorial</label> <select id="inputEdit"
						class="form-control" th:field="*{ideditorial}">
						<option value="-1">Seleccione...</option>
						<option th:each="c : ${lstEditoriales}" th:value="${c.ideditorial}"
							th:text="${c.nom_edit}"></option>
					</select>

				</div>
				<div class="form-group col-md-4">
					<label for="inputProv">Autor</label> <select id="inputProv"
						class="form-control" th:field="*{idautor}">
						<option value="-1">Seleccione...</option>
						<option th:each="p : ${lstAutores}"
							th:value="${p.idautor}" th:text="${p.nom_aut}">Seleccione...</option>

					</select>
				</div>
			</div>

			<button type="submit" class="btn btn-primary" th:text="${boton}"></button>
				
		</form>
		</div>
    </div>
  </div>
</div>
		<a href="/pdf1/libro" target="_blank" class="btn btn-primary">PDF</a>
		<a href="/cargarLibro" class="btn btn-primary" th:text="${boton2}">Recargar</a>
		<table class="table">
			<thead>

				<tr>

					<td>Código</td>

					<td>Nombre</td>

					<td>Editorial</td>

					<td>Autor</td>

					<td>Categoria</td>

					<td>Precio</td>

					<td>Stock</td>
					
					<td>Fecha de publicación</td>
					<td></td>
					<td></td>

				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${lstLibros}">

					<td th:text="${p.cod_lib}">id_prod</td>

					<td th:text="${p.nom_lib}">des_prod</td>

					<td th:text="${p.objEditorial.nom_edit}">stk_prod</td>

					<td th:text="${p.objAutor.nom_aut}">pre_prod</td>

					<td th:text="${p.objCategoria.descripcion}">idcategoria</td>

					<td th:text="${p.prec_lib}">est_prod</td>

					<td th:text="${p.stock_lib}">idproveedor</td>
					
					<td th:text="${p.fch_public}">idproveedor</td>
					
					<td>
						<form action="/buscarLib"  method="post">
							<input type="hidden" name="cod_lib" th:value="${p.cod_lib}">
							<button class="btn btn-primary">Seleccionar</button>
						</form>
					</td>
					<td>
						<form action="/eliminarL"  method="post">
							<input type="hidden" name="cod_lib" th:value="${p.cod_lib}">
							<button class="btn btn-primary">Eliminar</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</html>